body {
    margin: 0;
    text-align: center;
}
.first {
    
    position: relative;
    background-color: antiquewhite;
}
.mountain{
    width: 50%;
    margin-top: 400px;
}
.cloud1{
    position: absolute;
    top: 100px;
    right: 250px;
}
.cloud2{
    position: absolute;
    top: 300px;
    left: 250px;    
}
.h11{
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 200px;
    left: 40%;
}
hr{
    border-style:dotted none none none;
    border-width: 10px;
    border-color: aquamarine;
    width: 10%;
    margin: 0 auto;
}
.p1{
    position: absolute;
    top: 250px;
    left: 40%;
}
.ppic{
    width: 300px;
    height: 300px;
    margin: 100px 0;
    right: 100px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
h2{
    color: burlywood;
}
h3{
    color: #ec9018;
}
.code-img{
    width: 25%;
    float: left;
    margin-right: 50px;
}
.communication-img{
    width: 25%;
    float: right;
    margin-left: 50px;
}
.instaicon{
    width: 3%;
}
.intro{
    margin: auto;
    width: 30%;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #c6d9e6);
    background-image: -moz-linear-gradient(top, #3cb0fd, #c6d9e6);
    background-image: -ms-linear-gradient(top, #3cb0fd, #c6d9e6);
    background-image: -o-linear-gradient(top, #3cb0fd, #c6d9e6);
    background-image: linear-gradient(to bottom, #3cb0fd, #c6d9e6);
    text-decoration: none;
  }
  .middle{
    margin-top: 0;
    background-color: rgb(244, 239, 227);
  }
  .contact-me{
        padding: 50px;
  }
  .last
  {
    padding: 50px ;
    background-color: #676f75;
  }
 .copyr{
    margin-bottom: 25px;
 }
